@page
@model Lab6.Pages.IndexModel
@{
    ViewData["Title"] = "Lab 6 - Home Page";
}

<h2>Welcome to Lab 6</h2>
<hr />
<p>
    My name is Marcos Astudillo, a student in the Computer Engineering Technology - Computing Science program at Algonquin College.
    I am currently in Level 6. This laboratory is part of the .Net course.
</p>
<p>
    Student ID: 041057439<br />
    Email: astu0002@algonquinlive.com
</p>
