@page
@model Lab6.Pages.Predictions.CreateModel

@{
    ViewData["Title"] = "Prediction";
}

<h1>Create a new Prediction</h1>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <br /><br />
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Prediction.FileName" class="control-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Prediction.FileName" class="form-control" />
                    <span asp-validation-for="Prediction.FileName" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="UploadFile" class="control-label">Upload File</label>
                <div class="col-sm-10">
                    <input type="file" asp-for="UploadFile" class="form-control" />
                    <span asp-validation-for="UploadFile" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="Prediction.Question" class="control-label"></label>
                <div class="col-sm-10">
                    <select asp-for="Prediction.Question" class="form-control" asp-items="Model.QuestionOptions"></select>
                    <span asp-validation-for="Prediction.Question" class="text-danger"></span>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
